@import url('https://fonts.googleapis.com/css2?family=Dosis:wght@600&display=swap');
* {
    box-sizing: border-box;
}

.indexBody {
    background: url("https://source.unsplash.com/XUFMiGkv-60");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    height: 100vh;
    font-family: 'Dosis', sans-serif;
    position: relative;
}

.main-header {
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    font-family: 'Dosis', sans-serif;
    position: relative;
}

.main-nav {
    display: flex;
    background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5));
}

.logo {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left: 100px;
    padding: 20px 40px;
    font-size: 1.3rem;
    color: #fff;
}

.main-nav>ul {
    display: flex;
    margin-left: auto;
    margin-right: 100px;
}

.main-nav>ul li a {
    display: inline-block;
    padding: 20px 40px;
    font-size: 1.3rem;
    color: #fff;
}

.main-nav>ul li a:hover {
    background: #6868f1;
}

.content-header {
    color: #fff;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
}

.content-header h1 {
    font-size: 7rem;
}

.content-header p {
    font-size: 1.5rem;
    margin: 15px 30px;
}

.content-header a {
    font-size: 1.3rem;
    display: inline-block;
    padding: 15px 20px;
    background: #4141ef;
    color: #fff;
}

.content-header a:hover {
    background: #6868f1;
    border: 2px solid #fff;
    padding: 13px 18px;
}

.labelForm {
    font-size: 1.3rem;
}

.submitBtn {
    background-color: #6868f1;
    padding: 10px 20px;
    font-size: 1.3rem;
    border: 1px solid #4141ef;
}